/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
body,
.editor-styles-wrapper {
	background-color: rgb(240, 240, 232);
	background-image: url("../images/noise.png");
	background-repeat: repeat;
}

a {
	text-decoration-thickness: 1px !important;
	text-underline-offset: .1em;
}

/* Paper sheet block style. */
.is-style-paper-sheet {
	background-color: #fff;
	box-sizing: border-box;
	box-shadow:
		0 1px 2px rgb(17 17 17 / 8%),
		-8px 12px 16px -12px rgb(17 17 17 / 28%),
		8px 12px 16px -12px rgb(17 17 17 / 28%),
		0 18px 24px -20px rgb(17 17 17 / 40%);
	padding: clamp(1.25rem, 3vw, 2.5rem);
	position: relative;
}
